<h1>Showing the show action</h1>

<p>
    title: <%= @article.title %>
</p>

<p> 
    description: <%= @article.description %> 
</p>

<%= link_to 'Edit this Article', edit_article_path(@article) %> |
<%= link_to 'Back to Listings', articles_path %>