<html>
<head>
 <title> about </title>
 <meta charset="utf-8" />
 <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="A jouney of a thousand miles begins with a
single step. This is step 2" />
</head>


<h1>This is the about page of the application</h1>

<h2>This is where you can read all about me in less than 500 *2 words or so give or take a few on either side</h2>

<hr>

    <h2>Justins Bio</h2>

        <p>Justin doesnt usually talk in the thrid person but for the next section of reading we will refer to Justin as the supreme J of "ustin", Justin is an active martial arts athlete and world travler</p>
        <p>Justin likes to do many things and learning to develope apps in Ruby has been a recent obession, and programming with a touch of cpu sci has been an interest for a couple of years</p>
        <p>Justin is currently residing in the Seoul of Asia <strong>*Cough South Korea</strong> and he really enjoys the hot summers here as well as the delicious food and beautiful....wo...scenery</p>
        <p>Although this blog perhaps will be published as a shit bag disaster, i can redirect you to the compalints page where your complaints will be lost to the void...forever :)</p>
        <p>On a serious note, Justin really enjoies an active lifestyle in Korea, and is activily pursueing acthletic and professional goals</p>
<br>

    <h2>Justins Working life in Korea</h2>
        <p><strong>Justins</strong>, <i>lighting quick wit</i>, and determination has landed him in various occupations throughout his life. Justin has worked in the following <i>ordered lists</i> for your reading ease</p>
            <ol>
                <li>Picking up rotting garbage off the road in highschool</li>
                <li>The Canadian armed forces as a combat Engineer, Chimo!</li>
                <li>A bus boy and bar hand in various drinking dens in the St.Johns, Newfoundland area</li>
                <li>Working and investing in start-up companies back in the rock (Newfoundland)</li>
                <li>A student at Memorial University and Hanyang Universities in Canada & Korea</li>
                <li>working in South Korea both corporate and a teacher</li>
                <li>an aspiring game/web developer, right now a Student of Ruby <strong>:D*</strong></li>
            </ol>
    
    <p>That is all for now mortals. Check back when i learn how to style this bad boy with bootstrap and other wizardry</p>
    
    <%= link_to 'Home', root_path %> 
    
</html>