

<html>
<head>
 <title> home </title>
 <meta charset="utf-8" />
 <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="A jouney of a thousand miles begins with a
single step." />
</head>

<div class="center jumbotron">
  <h1>JUSTINS BLOG</h1>
 <%= link_to "Sign Up Now", signup_path, class: 'btn btn-danger btn-xlarge' %> 
</div>


<body>
<a name="top"></a>
	<h1>Web - J and Random</h1>
	
	<%= link_to "Alpha Blog", articles_path %> | <%= link_to "about", pages_about_path %>
	

	 
		<p>This will be justins digital home for the next 50 million years</p>
		<p>This is also Justins very first runy on rails web blog that he has created(creating)</p>
	
	 	
	<p>This is an unordered list of Justins favourite foods:</p>
	 	
<ul>
	 	 <li>Tangerines</li>
	 	 <li>DDokboKKie</li>
	 	 <li>Apples</li>
</ul>
 
<!-- <a href="#top">Click me to go to the top of the page</a> -->
	 	
	 	
</body>
</html>

