

<html>
<head>
 <title> home </title>
 <meta charset="utf-8" />
 <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="A jouney of a thousand miles begins with a
single step." />
</head>
<body>
<a name="top"></a>
	<h1>Web - J and Random</h1>
	
	<%= link_to "Alpha Blog", articles_path %> | <%= link_to "about", pages_about_path %>
	

	 
		<p>This will be justins digital home for the next 50 million years</p>
		<p>This is also Justins very first runy on rails web blog that he has created(creating)</p>
	
	 	
	<p>This is an unordered list of Justins favourite foods:</p>
	 	
<ul>
	 	 <li>Tangerines</li>
	 	 <li>DDokboKKie</li>
	 	 <li>Apples</li>
</ul>
	 	
<p>This is a good luck plant this is here for :</p>
	 	
<ol>
	 	 <li>motivation</li>
	 	 <li>smells good and...</li>
	 	 <li>apsolutly no reason</li>
</ol>
	 	
<hr>
	 	
<p> <img crossorigin="anonymous" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Cannabis_Plant.jpg/800px-Cannabis_Plant.jpg" class="mw-mmv-final-image mw-mmv-dialog-is-open" width="300" height="400" style> </p>	
<hr>
	 	

	 
<br />
<br />
	 	
<p> Check out the about page below </p>

<%= link_to 'about', pages_about_path %> 	

<hr>	
<!-- <a href="#top">Click me to go to the top of the page</a> -->
	 	
	 	
</body>
</html>

